   
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">My Account </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Informations
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li  (click)="gotoInform()" class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <span>My Informations</span>
                </a>
              
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li (click)="gotoMyPet()" class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <span>My Pet</span>
                </a>
               
            
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Others
            </div>

           

            <!-- Nav Item - Charts -->
            <li (click)="gotoMyInvoices()" class="nav-item">
                <a class="nav-link" >
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Pay Invoices</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li (click)="gotoMyFavVet()" class="nav-item">
                <a class="nav-link">
                    <span>My Favorite Vets</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            
   

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <button (click)="GoHome()" class="btn btn-primary">Home</button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                       
                      
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.FName}} {{user.LName}}</span>
                                <img class="img-profile rounded-circle"
                                    src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                            </a>
                            <!-- Dropdown - User Information -->
                           
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>

                    <!-- Content Row -->
                    

                    <!-- Content Row -->

                    
                    <!-- Content Row -->
                    <div   class="row">

                        <!-- Content Column -->
                       
                        <div *ngIf="!petFound" class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div >
                            <div  class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Pet's Information</h6>
                                </div>
                                <div  class="card-body">
                                   
                                    <div class="col-md-6">
                                        <div class="row">
                                            Pet Name: {{pet.petName}}
                                        </div>
                                        <div class="row">
                                            Pet Color: {{pet.color}}
                                        </div>
                                        <div class="row">
                                            Pet Age: {{pet.age}}
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                            
                            
                            <!-- Illustrations -->
                            <!-- Approach -->
                           
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 mb-4">
   
                <div *ngIf="petFound">
                    <div  class="card shadow mb-4" >
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pet's Information</h6>
                        </div>
                        <div class="card-body">
                           
                          <p>You don't have any pets</p>
                        </div>
                    </div>
                </div>
            </div>            
                 <!-- /.container-fluid -->
                <div *ngIf="!petFound" class="col-lg-6 mb-4">
   
                    <div  class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"> Change Your Pet's Information</h6>
                            </div>
                            <div class="card-body">
                                <div >
                                    <p> Please Choose your Pet</p>
                                    <form (submit)="changePet(postForm)" #postForm="ngForm">
                                        
                                        <div class=" input mb-3">
                                            <mat-form-field>
                                                <input matInput floatLabel='never'  type="text" name="petName" ngModel #petNameInput="ngModel" required placeholder="Pet Name" />
                                                <mat-error *ngIf="petNameInput.invalid">Please enter a vaild Pet Name</mat-error>
                                            </mat-form-field>
                                            <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
                                        </div>
                                        <div class=" input mb-3">
                                            <mat-form-field>
                                                <input matInput floatLabel='never'  type="text" name="petAge" ngModel #PetAgeInput="ngModel" required placeholder="Pet Age" />
                                                <mat-error *ngIf="PetAgeInput.invalid">Please enter a vaild age</mat-error>
                                            </mat-form-field>
                                            <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
                                        </div>
                                        
                                        <div class="input mb-2">
                                            <mat-form-field>
                                                <input matInput type="text" name="petColor" ngModel #petColorInput="ngModel" required placeholder="Pet Color" />
                                                <mat-error *ngIf="petColorInput.invalid">Please enter color</mat-error>
                                            </mat-form-field>					</div>
                                            <div class="d-flex justify-content-center mt-3 login_container">
                                                <button class="login_btn"  type="submit" mat-raised-button color="primary">Change</button>				   </div>
                                    </form>
                
                                    <p class="alert" *ngIf="doneEditing">
                                        Done Adding Please Reload
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>            
            
                    
            
        
            </div>
            <!-- End of Main Content -->

            
        
        <div class="col-lg-6 mb-4">
   
        <div *ngIf="petFound" class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Enter Your Pet's Information</h6>
                </div>
                <div class="card-body">
                    <div >
                        <p> Please Choose your Pet</p>
                        <form (submit)="enterPet(postForm)" #postForm="ngForm">
                            
                            <div class=" input mb-3">
                                <mat-form-field>
                                    <input matInput floatLabel='never'  type="text" name="petName" ngModel #petNameInput="ngModel" required placeholder="Pet Name" />
                                    <mat-error *ngIf="petNameInput.invalid">Please enter a vaild Pet Name</mat-error>
                                </mat-form-field>
                                <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
                            </div>
                            <div class=" input mb-3">
                                <mat-form-field>
                                    <input matInput floatLabel='never'  type="text" name="petAge" ngModel #PetAgeInput="ngModel" required placeholder="Pet Age" />
                                    <mat-error *ngIf="PetAgeInput.invalid">Please enter a vaild age</mat-error>
                                </mat-form-field>
                                <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
                            </div>
                            
                            <div class="input mb-2">
                                <mat-form-field>
                                    <input matInput type="text" name="petColor" ngModel #petColorInput="ngModel" required placeholder="Pet Color" />
                                    <mat-error *ngIf="petColorInput.invalid">Please enter color</mat-error>
                                </mat-form-field>					</div>
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <button class="login_btn"  type="submit" mat-raised-button color="primary">Change</button>				   </div>
                        </form>
    
                        <p class="alert" *ngIf="doneEditing">
                            Done Adding Please Reload
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>            
        
        <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                       
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>


