<body class="alreadyLogin" *ngIf="!isAuthenticated">

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>We will help you to cure your pet</p>
            <input (click)="gotoLoginOwner()" type="submit" name="" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Owner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Vet</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Sign Up as a Owner</h3>
                    <div class="row register-form">
                        <form [formGroup]="form" (submit)="onSignup()">
                            <div class="row">
                        <div class="col-md-6">
                            
                            <div class="input mb-2">
                                <mat-form-field>
                                    <input matInput type="text" formControlName="FirstName"  required placeholder="First Name" />
                                    <mat-error *ngIf="form.get('FirstName')!.invalid">Please enter your First Name</mat-error>
                                </mat-form-field>					
                            </div>
                                <div class=" input mb-3">
                                   
                                    <mat-form-field>
                                        <input matInput floatLabel='never'  type="email" formControlName="email"  required placeholder="Email" />
                                        <mat-error *ngIf="form.get('email')!.invalid">Please enter a vaild email</mat-error>
                                    </mat-form-field>
                                    <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
                                </div>
                                <div class="input mb-2">
                                    <mat-form-field>
                                        <input matInput type="password" formControlName="password"   required placeholder="Password" />
                                        <mat-error *ngIf="form.get('password')!.invalid">Please enter password</mat-error>
                                    </mat-form-field>					
                                </div>
                                  
                                    
                            
                            
                            
                            </div>
                        <div class="col-md-6">
                            <div class="input mb-2">
                                <mat-form-field>
                                    <input matInput type="text" formControlName="LastName"  required placeholder="Last Name" />
                                    <mat-error *ngIf="form.get('LastName')!.invalid">Please enter your Last Name</mat-error>
                                </mat-form-field>					
                            </div>
                                <div class=" input mb-3">
                                   
                                    <mat-form-field>
                                        <input matInput floatLabel='never'  type="number" formControlName="phone" required placeholder="Phone" />
                                        <mat-error *ngIf="form.get('phone')!.invalid">Please enter a vaild phone</mat-error>
                                    </mat-form-field>
                                    <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
                                </div>
                                <div class="input mb-2">
                                <mat-form-field>
                                    <mat-label>Select your City</mat-label>
                                    <mat-select [(value)]="selected">
                                        <mat-option value="Alexandria">Alexandria</mat-option>
                                        <mat-option value="Aswan ">Aswan</mat-option>
                                        <mat-option value="Asyut">Asyut</mat-option>
                                        <mat-option value="Beni Suef">Beni Suef</mat-option>
                                        <mat-option value="Cairo">Cairo</mat-option>
                                        <mat-option value="Dakahlia">Dakahlia</mat-option>
                                        <mat-option value="Damietta">Damietta</mat-option>
                                        <mat-option value="Faiyum">Faiyum</mat-option>
                                        <mat-option value="Giza">Giza</mat-option>
                                        <mat-option value="Ismailia">Ismailia</mat-option>
                                        <mat-option value="Kafr El Sheikh">Kafr El Sheikh</mat-option>
                                        <mat-option value="Luxor">Luxor</mat-option>
                                        <mat-option value="Matruh">Matruh</mat-option>
                                        <mat-option value="Monufia">Monufia</mat-option>
                                        <mat-option value="Port Said">Port Said</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <p class="alert" *ngIf="selectionAlert">
                                    Please enter a government
                                </p>					
                                </div>
                                  
                              
                           
                        </div>
                        <div class="col-md-6">
                            <div class="image-preview2" *ngIf="!imagePreview">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" />
                            </div>
                            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                                <img [src]="imagePreview" />
                            </div>
            
                            <button class="b3" mat-mini-fab color="primary" type="button" (click)="filePicker.click()" aria-label="Example icon button with a menu icon">
                      <mat-icon>camera_enhance</mat-icon>
                    </button>
                            <input type="file" #filePicker (change)="onImagePicked($event)" />
            
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button class="btnRegister"  type="submit" mat-raised-button color="primary">SignUp</button>		
                             </div>
                            <!--image ends-->
                        </div>
                        </div>

                    </form>
                    </div>
                </div>
                </div>
        </div>
    </div>

</div>
</body>
<body class="alreadyLogin" *ngIf="isAuthenticated">
    <mat-card class="mat-card1">
        <div class="confused">You Are Already Logged In!!</div>
        <img src="http://localhost:5000/images/geek-boy-confused-cartoon-illustration-geeky-little-44146685.jpg" width="300" height="400" />
        <br />
        <br>
        <button class="b1" mat-raised-button  (click)="gotoHome()">
      Go to Home
    </button>
        <br />
        <br />
        <button class="b1" mat-raised-button  (click)="logout()">
      LogOut
    </button>
    </mat-card>
</body>