<body>

 <mat-card class="card">
    <p>Choose the vet you want to appoint with:</p>
    <mat-form-field>
        <mat-label>Select your Vet</mat-label>
        <mat-select [(value)]="selected">
            <div>
                <mat-option  *ngFor="let vet of vetArray" [value]="vet.EMAIL">{{vet.FNAME}} {{vet.LNAME}}</mat-option>

            </div>
        </mat-select>
    </mat-form-field>
    <p class="alert" *ngIf="selectionAlert">
        Please enter a Vet
    </p>
    <button mat-raised-button class="appoint" (click)="appoint()" >Done</button>
    <div *ngIf="busyVet">This Vet is Busy in this time</div>
 </mat-card>

</body>