<body>

 <mat-card class="card">
    <p>Choose the vet you want to appoint with:</p>
    <mat-form-field>
        <mat-label>Select your Vet</mat-label>
        <mat-select [(value)]="selected">
            <div>
                <mat-option  *ngFor="let vet of vetArray" [value]="vet.EMAIL">{{vet.FNAME}} {{vet.LNAME}}</mat-option>

            </div>
        </mat-select>
    </mat-form-field>
    <p class="warn" *ngIf="selectionAlert">
        Please enter a Vet
    </p>
    
	<form #postForm="ngForm">
        <p>Please Enter The Date </p>
        <mat-form-field>
            <input id="dateinput" matInput floatLabel='never'  type="date" name="email" ngModel #emailInput="ngModel" required placeholder="MM/DD/YYYY" />
            <mat-error *ngIf="emailInput.invalid">Please enter a vaild Date</mat-error>
        </mat-form-field>
        <p *ngIf="dateValidation">Please Enter the date</p>
        <br>
        <br>
        <input id="timeinput" type="time" name="timestamp" step="1">
        <p *ngIf="timeValidation">Please Enter the date</p>
        
    </form>

    <button mat-raised-button class="appoint" (click)="appoint()" >Done</button>
    <div class="warn" *ngIf="errorAppoint">This Vet is Busy in this time</div>
    <div  class="warn" *ngIf="doneAppoint">Appointment is set successfully</div>

</mat-card>

</body>